/* .search_container {
  display: flex;
} */

.navbar_list {
  display: flex;
  gap: 2rem;
  font-weight: 600;
  color: white;
}

/* ----------------------------MEDIAQUERIES------------------ */
@media (max-width: 992px) {
  .navbar-list {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .navbar_list {
    font-size: 0.7rem;
  }
}
@media (max-width: 576px) {
  .navbar_menu {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateY(-150%);
    transition: transform 0.5s ease;
    background-color: rgba(26, 26, 26, 0.924);
  }

  .navbar.isActive {
    transform: translateY(0);
  }

  .navbar_list {
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .navbar_list li {
    padding-top: 1.5rem;
  }
}
